name: CI

on:
  push:
    tags: [ "v*" ]
  pull_request:

jobs:
  check:
    name: Lint & Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 11
      - uses: gradle/actions/setup-gradle@v4
      - name: Lint and test
        run: ./gradlew check

  publish:
    name: Publish to GitHub Packages
    runs-on: ubuntu-latest
    needs: [ check ]
    if: startsWith(github.ref, 'refs/tags/v')
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 11
      - uses: gradle/actions/setup-gradle@v4
      - name: Publish package
        run: ./gradlew publish -PprojectVersion=${{ github.ref_name }}
        env:
          GITHUB_ACTOR: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
